.flip-container {
    perspective: 1000px;
    display: inline-block;
    border: 2px solid darkred;
    outline: 1px solid firebrick;
    outline-offset: -5px;
    box-shadow: 5px 7px;
    background:url(./MATCHED.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding:1%;
    margin: .5%;
}

.flip-container.flipped .flipper {
    transform: rotateY(180deg);
}

.flipper {
    transition: 2s;
    transform-style: preserve-3d;
    position: relative;
}

.front, 
.back{
    backface-visibility: hidden;
    position: absolute;
    left: 0;
    top: 0;
}

.back {
    z-index: 1;
    transform: rotateY(180deg);
}

.front {
    transform: rotateY(180deg);
}